@media (prefers-color-scheme: dark) {
    nav { background: #212121; color: white; } 
    div { background: #212121; color: white; } 
    div.container { background: #212121; color: white; } 
    div.sidebar { background: #212121; color: white; } 
    body { background: #212121; color: white; } 
}

::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
::-webkit-scrollbar-track {
    background: #212122; 
  }

/* Handle */
::-webkit-scrollbar-thumb {
    background: #aeaeae; 
  }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }


* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #ffffffd4;
}

img {
    cursor: pointer;
}

.flex-div {
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    padding: 10px 2%;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.755);
    position: sticky;
    top: 0;
    z-index: 10;
    margin-bottom: 5px;
}

.nav-right img {
    width: 25px;
    margin-right: 25px;
}

.nav-right .user-icon {
    width: 35px;
    border-radius: 50%;
    margin-right: 0;
}

.nav-left .menu-icon {
    width: 22px;
    margin-right: 25px;
}

.nav-left .logo-icon {
    width: 130px;
    border: 1px solid #a2a2a275;
    padding: 7px 7px;
    background-color: #a2a2a275;
    border-radius: 30px;
}

.nav-middle .menu-icon {
    width: 16px;
}

.nav-middle .search-box {
    border: 1px solid #ffffffd2;
    margin-right: 15px;
    padding: 8px 12px;
    border-radius: 25px;
    background-color: #212122;
}

.nav-middle .search-box input {
    width: 500px;   
    height: 25px;
    border: 0;
    outline: 0;
    background-color: transparent;
    padding-left: 7px;
    color: #ffffffd2;
}

.nav-middle .search-box img {
    width: 15px;
}

/*<!-------sidebar--------->?*/

.sidebar {
    width: 15%;
    height: 100vh;
    position: fixed;
    top: 0;
    padding-left: 1%;
    padding-top: 80px;
}

.shortcut-links a img {
    width: 20px;
    margin-right: 20px;
}

.shortcut-links a {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: fit-content;
    flex-wrap: wrap;
} 

.shortcut-links a:first-child {
    color: #ed3833;
}

.sidebar hr {
    border: 0;
    width: 85%;
    height: 1px;
    background: #ccc;
}

.subed-list h3{
    font-size: 13px;
    margin: 20px 0;
    color: red;
}
.subed-list a{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: fit-content;
    flex-wrap: wrap;
        
}

.subed-list a img {
    width: 25px;
    border-radius: 50%;
    margin-right: 20px ;
}

.small-sidebar {
    width: 5%;
}

.small-sidebar a p {
    display: none;
}

.small-sidebar h3 {
    display: none;
}

.small-sidebar hr{
    width: 5%;
    margin-bottom: 25px;
}

/*<!-------main--------->?*/

.container {
    padding-left: 15%;
    padding-right: 2%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.large-container {
    padding-left: 7%;
}

.banner {
    width: 100%;
}

.banner img {
    width: 100%;
    border-radius: 10px;
}

.list-cont {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-column-gap: 16px;
    grid-row-gap: 30px;
    margin-top: 15px;
}

.vid-list .thumbnail {
    width: 100%;
    border-radius: 20px;
}

.vid-list .flex-div {
    align-items: flex-start;
    margin-top: 7px;
}

.vid-list .flex-div img {
    width: 35px;
    border-radius: 50%;
    margin-right: 10px;
}

.vid-info {
    color: #ffffffd2;
    font-size: 15px;
    cursor: pointer;
}

.vid-info a {
    color: #fff;
    font-size: 600;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.vid-info p {
    display: block;
    margin-bottom: 5px;
    text-transform: uppercase;
}

@media (max-width: 900px) {
    .menu-icon {
        display: none;
    }
    .sidebar {
        display: none;
    }
    .container, .large-container {
        padding-left: 5%;
        padding-right: 5%;
    } 
    .nav-right img {
        display: none;
    }
    .nav-right .user-icon {
        display: block;
        width: 30px;
    }
   
    .nav-middle .search-box input {
        width: 100px;
    }
    .nav-middle .mic-icon {
        display: none;
    }

    .logo-icon {
        width: 90px;
    }
}

/*<!-----------play-video-------------->*/

.play-container {
    padding-left: 2%;
}

.container .row {
    margin-left: 50px;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.play-video {
    flex-basis: 69%;
} 

.right-sidebar {
    flex-basis: 30%;
}

.play-video video {
    width: 100%;
}

.side-video-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    margin-left: 0px;
}

.side-video-list img {
    width: 100%;
}

.side-video-list .small-thumbnail {
    flex-basis: 49%;
} 

.side-video-list .vid-info {
    flex-basis: 49%;
}

.small-thumbnail img {
    border-radius: 10px;
}

.row .play-video  video {
    width: 60em;
}
.play-video .tags a {
    color: #0091ff;
    font-size: 13px;
}

.play-video .tags {
    background-color: #2c2c2c;
}


.play-video h3 {
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
}

.play-video .discription {
    color: #ffffffd4;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #2c2c2c;
    border-radius: 10px;
    width: 60em;
}

.play-video p {
    margin-bottom: 0px;
}

#more {
    display: none;
}

#myBtn {
    background-color: #2c2c2c;
    border: 1px solid #2c2c2c;
    color: #ffffffd4;
    font-weight: 6  00;
    font-size: medium;
    margin-left: 15px;
    margin-top: 5px;

}

.video {
    width: 100%;
    border-radius: 10px;
    box-shadow: 10px 10px 40px #a2a2a21d, -10px -10px 40px #a2a2a21d;
}

.profile img {
    width: 45px;
    border-radius: 50px;
    margin-right: 0;
    margin-bottom: 5px;
    border: 1px solid rgb(0, 90, 159);
}


.play-video .profile {
    color: #fff;
    font-size: medium;
    font-weight: 500;
    margin-bottom: 15px;
    justify-content: space-between;
    display: flex;
    margin-right: 52em;
    position: relative;
    top: 10px;
}


.comment-div {
    margin-top: 10px;
    display: flex;
    border: 1px solid #2c2c2c;
    border-radius: 10px;
    padding: 15px 5px;
    background-color: #2c2c2c;
    justify-content: space-between;
    width: 60em;

}


.comment-div .comment {
    font-size: 14px;
    background-color: #2c2c2c;
    border: 1px solid #2c2c2c;
    color: #ffffffd2;
    margin-top: 7px;
}

.comment-div hr {
    background-color: #000;
    padding: 1px 0px;
    margin-bottom: 5px;
}

.comment-div .btn-comment {
    background-color: #a2a2a2;
    padding: 8px 13px;
    border-radius: 30px;
    border: 1px solid #a2a2a2;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    margin-left: 860px;
    top: -20px;
    position: relative;
    margin-bottom: -20px;
}

.comment-div .cancel-comment {
    background-color: #2c2c2c;
    color: #ffffffd4;
    padding: 8px 13px;
    border-radius: 30px;
    margin-left: 780px;
    top: 15px;
    font-size: 15px;
    position: relative;
    border: 1px solid #2c2c2c;
    cursor: pointer;
}

.color-btn {
    color: #212121;
    background-color: #fff;
    padding: 8px 13px;
    border-radius: 30px;
    border: 1px solid #fff;
    cursor: pointer;
    margin-left: 30px;
}